<div id="main__content--container">
  <div class="right__nav--container">
    <ul>
      <li class="right__nav--item" ng-repeat="event in events" ng-click="toggleEventDetails(event)">
        {{event.title}}
      </li>
    </ul>
    <div class="nav__button--container">
      <div class="nav__button" ng-click="toggleCreateEvent()">
        Create New Event
      </div>
    </div>
  </div>

  <div class="event-details__container" ng-show="detailsBox">
    <div class="details-heading">Details</div>
    <div class="event-title">Title: {{event.title}}</div>
    <div class="event-cron">Cron: {{event.cron}}</div>
    <div class="event-description">Description: {{event.description}}</div>
    <div class="delete-event-button__container">
      <div class="delete-event__button" ng-click="deleteEvent()">Delete Event</div>
    </div>
    <div class="alert alert-success" data-ng-show="messages" data-ng-bind="messages"></div>
  </div>

  <div class="content__main" ng-show="submissionBox">
    <h1 class="content__title">Create Event</h1>
    <div class="content__input--container">
      <label class="content__input--title">Title:</label>
      <input class="content__input--field" ng-model="newEvent.title" autofocus></input>
    </div>
    <div class="content__input--container">
      <label class="content__input--title">Cron:</label>
      <input class="content__input--field" ng-model="newEvent.cron"></input>
    </div>
    <div class="content__input--container">
      <label class="content__input--title">Procedure:</label>
      <textarea class="content__input--field content__input--procedure" ng-model="newEvent.description"></textarea>
    </div>
    <div class="content__input--container">
      <button ng-click="submitEvent()" class="content__input--submit">Submit</button>
    </div>
    <div class="alert alert-success" data-ng-show="messages" data-ng-bind="messages"></div>
  </div>
</div>
