*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  background: #fff;
  min-height: 100%;
}

body {
  margin: 0;
  margin-top: 10px;
  font-family: 'Lato', sans-serif;
  height: 100%;
  color: #000;
}

a {
  display: block;
  color: #333;
  font-size: 14px;
  text-decoration: none;
  text-align: center;
}

h1 {
  font-size: 40px;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
}

h1.sub {
  font-size: 40px;
  margin-bottom: 80px;
  text-transform: inherit;
  font-weight: 100;
}

#producer-head {
  font-family: 'Lato', sans-serif;
  font-size: 40px;
  margin-bottom: 15px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
}

.filter {
  width: 200px;
}

.navigation li a:hover {
  text-decoration: overline;
}

.navigation li a.selected {
  background-color: #ccc;
}

#container {
  clear: both;
  margin-top: 10px;
}

.link {
  clear: both;
  margin-bottom: 5px;
  padding: 5px;
  min-height: 50px;
}

input#button {
  display: block;
  padding: 10px;
  background-color: white;
}

form {
  width: 100%;
  margin: 10px auto;
}

.sub-link {
  color: #fff;
  font-weight: 100;
  letter-spacing: .5px;
  width: 220px;
  display: block;
  margin: 0 auto;
}

input[type=url] {
  display: inline
}

input[type=url]:focus {
  outline: none;
}

.link .title {
  font-weight: 300;
}

.error {
  border: red solid 4px;
  padding: 10px;
  margin: 0 10px;
}

.clean {
  border: #efe solid 2px;
  padding: 10px;
  margin: 0 10px;
}

.creator {
  height: 50px;
}

.creator form {
  float: left;
  height: 80px;
}

.creator img.spinner {
  height: 46px;
  margin-bottom: 5px;
  padding: 10px;
  display: none;
}

.creator .message {
  clear: both;
}

/* ////////////////////////////////////////////////////////// 
// 
//  MAIN
//
////////////////////////////////////////////////////////// */

#main-container input, 
#main-container tags-input,
#main-container .warning-message,
#main-container textarea {
  width: 50%;
  display: block;
  font-size: 13px;
  padding: 5px;
  margin: 5px auto;
  text-align: left;
}

#main-container textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

#main-container textarea:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.main-input__container {
  margin-top: 15px
}

.template-description-input {
  height: 200px;
}

.template-submission-button__container {
  width: 50%;
  margin: 20px auto;
}

.template-submission-button{
  width: 100%;
  background-color: #ccc;
  padding: 15px 0px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.16), 0 2px 4px rgba(0,0,0,0.23);
  transition: 0.2s;
}

.template-submission-button--clicked {
  transform: translateY(2px);
  box-shadow: 0 1px 2px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.warning-message {
  color: red;
}


/* ////////////////////////////////////////////////////////// 
// 
//  NG-TAGS-INPUT STYLING
//
////////////////////////////////////////////////////////// */

tags-input .tags .tag-item button {
  background: transparent;
  color: #000;
  opacity: .4;
}

tags-input {
  display: block;
}
tags-input *, tags-input *:before, tags-input *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
tags-input .host {
  position: relative;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 100%;
}
tags-input .host:active {
  outline: none;
}

tags-input .tags {
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  padding: 1px;
  overflow: hidden;
  word-wrap: break-word;
  cursor: text;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  height: 100%;
}

tags-input .tags.focused {
  outline: none;
  border-color: #66afe9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
      box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
}

tags-input .tags .tag-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

tags-input .tags .tag-item {
  color: #fff;
  margin: 5px;
  padding: 0 5px;
  display: inline-block;
  float: left;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 26px;
  line-height: 25px;
  border: 1px solid #357ebd;
  border-radius: 4px;
  background: #428bca;
}

tags-input .tags .tag-item.selected {
  background: #d9534f;
  border: 1px solid #d43f3a;
  border-radius: 4px;
  color: #fff;
}

tags-input .tags .tag-item .remove-button {
  display: none;
}

tags-input .tags .tag-item .remove-button:active {
  color: #ff0000;
}

tags-input .tags .input {
  border: 0;
  outline: none;
  margin: 2px;
  padding: 0;
  padding-left: 5px;
  float: left;
  height: 26px;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

tags-input .tags .input.invalid-tag {
  color: #ff0000;
}

tags-input .tags .input::-ms-clear {
  display: none;
}

tags-input[disabled] .host:focus {
  outline: none;
}

tags-input[disabled] .tags {
  background-color: #eee;
  cursor: default;
}

tags-input[disabled] .tags .tag-item {
  opacity: 0.65;
  background: -webkit-linear-gradient(top, #f0f9ff 0%, rgba(203, 235, 255, 0.75) 47%, rgba(161, 219, 255, 0.62) 100%);
  background: linear-gradient(to bottom, #f0f9ff 0%, rgba(203, 235, 255, 0.75) 47%, rgba(161, 219, 255, 0.62) 100%);
}

tags-input[disabled] .tags .tag-item .remove-button {
  cursor: default;
}

tags-input[disabled] .tags .tag-item .remove-button:active {
  color: #585858;
}

tags-input[disabled] .tags .input {
  background-color: #eee;
  cursor: default;
}

tags-input .autocomplete {
  margin-top: 5px;
  position: absolute;
  padding: 5px 0;
  z-index: 999;
  width: 100%;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

tags-input .autocomplete .suggestion-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-height: 280px;
  overflow-y: auto;
  position: relative;
}

tags-input .autocomplete .suggestion-item {
  padding: 5px 10px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000;
  background-color: #fff;
}

tags-input .autocomplete .suggestion-item.selected {
  color: #262626;
  background-color: #0097cf;
}

tags-input .autocomplete .suggestion-item.selected em {
  font-weight: normal;
  color: #262626;
  background-color: #0097cf;
}

tags-input .autocomplete .suggestion-item em {
  font-weight: normal;
  color: #000;
  background-color: #ffff00;
}

/* ////////////////////////////////////////////////////////// 
// 
//  EVENTS MANAGER
//
////////////////////////////////////////////////////////// */

ul {
    list-style-type: none;
    -webkit-padding-start: 0px;
}

#events-container {
  position: relative;
  display: block;
  width: 75%;
  height: 500px;
  margin: 0 auto;
  background-color: #333;
}

.events-left-side__container{
  position: relative;
  display: inline-block;
  width: 33%;
  height: 100%;
  background-color: #aaa;
}

.events-list__container {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 80%;
  background-color: #777;
  overflow-y: scroll;
}

.event-details__container {
  position: absolute;
  display: inline-block;
  width: 67%;
  height: 500px;
  background-color: #999;
}

.event-submission__container {
  position: absolute;
  display: inline-block;
  width: 67%;
  height: 500px;
  background-color: #999;
}

.event__item {
  width: 90%;
  background-color: #CCC;
  margin: 6px auto;
  padding: 5px 0;
  text-align: center;
}

.add-event-button__container {
  position: absolute;
  width: 100%;
  height: 20%;
  background-color: #444;
  bottom: 0;
}

.add-event__button {
  width: 80%;
  position: relative;
  background-color: #999;
  padding: 10px 0;
  margin: 0 auto;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}

.details-heading, .submission-heading {
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.event-title {
  margin-top: 10px;
}

.event-title,
.event-cron,
.event-description {
  margin-left: 3%;
  padding: 4px 0;
}

.title-input__container, 
.cron-input__container,
.description-input__container {
  margin-left: 3%;
  padding: 4px 0;
}

.event-submission__container input,
.event-submission__container textarea {
  position: absolute;
  width: 50%;
  left: 25%;
}

.event-submission__container textarea {
  height: 120px;
}

.description {
  float: left;
}

.producer-button__container {
  width: 50%;
  margin: 20px auto 0 auto;
}

button {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 30px;
  font-size: 17px;
}

.producer-button {
  text-align: center;
  padding: 13px;
  background-color: #ccc;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}