<div id="main__content--container">
  <div class="right__nav--container">
    <ul>
      <li class="right__nav--item" ng-repeat="procedure in procedures" ng-click="toggleProcedureDetails(procedure)">
        {{procedure.title}}
      </li>
    </ul>
    <div class="nav__button--container">
      <div ng-click="toggleCreateProcedure()" class="nav__button">Create New Procedure</div>
    </div>
  </div>

  <div class="procedure-details__container" ng-show="detailsBox">
    <div class="details-heading">Details</div>
    <div class="procedure-title">Title: {{procedure.title}}</div>
    <div class="procedure-text">Procedure: {{procedure.text}}</div>
    <div class="delete-procedure-button__container">
      <div class="delete-procedure__button" ng-click="deleteProcedure()">Delete Procedure</div>
    </div>
    <alert-message></alert-message>
  </div>

  <div class="content__main" ng-show="submissionBox">
    <h1 class="content__title">Create Procedure</h1>

    <div class="content__input--container">
      <label class="content__input--title">Title:</label>
      <input class="content__input--field" ng-model="newProcedure.title" autofocus></input>
    </div>
    <div class="content__input--container">
      <label class="content__input--title">Procedure:</label>
      <textarea class="content__input--field content__input--procedure" ng-model="newProcedure.text"></textarea>
    </div>
    <div class="content__input--container">
      <button ng-click="submitProcedure()" class="content__input--submit">Submit</button>
    </div>
    <alert-message></alert-message>
  </div>
</div>
