<nav-bar></nav-bar>
<div class="main__content--container scrollbar">
  <form name="templateForm" class="content__main" ng-submit="submitTemplate()" novalidate>
    <h1 class="content__title">Create Template</h1>

    <div>
      <label class="content__input--title">Title:</label>
      <!-- <input class="content__input--field"
            id="template__title"
            ng-change=""
            name="title"
            ng-model="selectedProcedure.title"
            required
            autofocus
      /> -->
      <auto-select
        choices="procedures"
        selected="selectedProcedure"
        placeholder="Select title"
        filter-key="title"
        select-max="1">
      </auto-select>
    </div>

    <div>
      <label class="content__input--title">Role:</label>
      <auto-select
        choices="roles"
        selected="template.role"
        placeholder="Select roles"
        filter-key="name"
        select-max="1">
      </auto-select>
    </div>

    <div>
      <label class="content__input--title">Events:</label>
      <auto-select
        choices="events"
        selected="selectedEvents"
        placeholder="Select events"
        filter-key="title">
      </auto-select>
    </div>

    <div>
      <label class="content__input--title">Procedure:</label>
      <textarea class="content__input--field content__input--procedure"
                ng-model="selectedProcedure[0].text">
      </textarea>
    </div>

    <div class="content__submit--container">
      <button ng-disabled="templateForm.$invalid" class="content__input--submit">Submit</button>
    </div>
  </form>
</div>
<div class="right__nav--container">
</div>
