
<div id="main__content--container">

  <div class="right__nav--container">
  </div>

  <form name="templateForm" class="content__main" ng-submit="submitTemplate()" novalidate>
    <h1 class="content__title">Create Template</h1>
    <div class="content__input--container">
      <label class="content__input--title">Title:</label>
      <input class="content__input--field" id="template__title" ng-change="checkInput('title')" name="title" ng-model="template.title" required autofocus/>

    </div>
    <div class="content__input--container">
      <label class="content__input--title">Role:</label>
      <md-autocomplete
        required
        md-items="role in filterRolesBySearch()"
        md-selected-item-change="selectedRoleChange()"
        md-search-text-change="searchTextChange()"
        md-search-text="searchText"
        md-selected-item="template.role"
        md-item-text="role"
        md-no-cache="true"
        md-min-length="0"
        placeholder="Search here for roles"
        md-delay="0"
        ng-pattern="roleValidation()"
      >
        <md-item-template>
          <span md-highlight-text="searchText">{{role}}</span>
        </md-item-template>
        <md-not-found>
          Role not found. Please choose an existing role.
        </md-not-found>
      </md-autocomplete>
    </div>
    <div class="content__input--container">
      <label class="content__input--title">Tags:</label>
      <tags-input name="tags" id="template__tags" ng-keyup="checkInput('tags')"  ng-model="tags" add-on-paste="true" add-from-autocomplete-only="true" min-length="1" required>
        <auto-complete source="filterTags($query)" min-length="1"></auto-complete>
      </tags-input>
    </div>
    <div class="content__input--container">
      <label class="content__input--title">Procedure:</label>
      <textarea class="content__input--field content__input--procedure" ng-model="template.description"></textarea>
    </div>
    <div class="content__input--container">
      <button ng-disabled="templateForm.$invalid" class="content__input--submit">Submit</button>
    </div>
  </form>
  <alert-message></alert-message>
</div>
