<div id="main-container" ng-controller = "mainController">
  <div class="template-submission__container">
    <div class="roles-input__container">
      <input class="roles-input" placeholder="Role" ng-model="template.role"></input>
    </div>
    <div class="event-dropdown__container">
      <tags-input class="bootstrap" ng-model="tags" add-on-paste="true" add-from-autocomplete-only="true" min-length="1">
        <auto-complete source="loadTags($query)" min-length="1"></auto-complete>
      </tags-input>
    </div>
    <div class="template-description__container">
      <textarea class="template-description-input" placeholder="Description" ng-model="template.description"></textarea>
    </div>
  </div>
  <div class="template-submission-button__container">
    <div class="template-submission-button" ng-click="submitTemplate()" ng-class="{'template-submission-button--clicked': buttonClicked}"><span>Submit</span></div>
  </div>
</div>