<div id="main__content--container">
  <div class="right__nav--container">
    <ul>
      <li class="right__nav--item" ng-repeat="event in events" ng-click="selectEvent(event)">
        {{event.title}}
      </li>
    </ul>
  </div>

  <div class="content__main">
    <h1 class="content__title">Soundboard</h1>
    <div class="content__input--container content__main--card" ng-show="selectedEvent.isSelected">
      <p class="content__input--title">{{selectedEvent.title}}</p>
      <p class="content__input--title">{{selectedEvent.cron}}</p>
      <p class="content__input--title">{{selectedEvent.description}}</p>
    </div>
    <div class="content__input--container">
    <div>
      <button ng-show="selectedEvent.isSelected" ng-click="triggerEvent()" class="content__submit--left">Trigger</button>
    </div>
    </div>
      <div class="content__input--container content__main--card" ng-repeat="template in templates">
        <p class="content__input--title">{{template}}</p>
      </div>
    <alert-message></alert-message>
  </div>
</div>
