<nav-bar></nav-bar>
<div id="main__content--container">
  <div class="right__nav--container">
    <ul>
      <li class="right__nav--item" ng-repeat="event in events" ng-click="selectEvent(event)">
        {{event.title}}
      </li>
    </ul>
  </div>

  <div class="content__main">
    <h1 class="content__title">Soundboard</h1>
    <div class="content__main--card" ng-show="selectedEvent.isSelected">
      <div class="content__input--container">
        <p class="content__input--title">{{selectedEvent.title}}</p>
        <p class="content__input--title">{{selectedEvent.cron}}</p>
        <p class="content__input--title">{{selectedEvent.description}}</p>
      </div>
    </div>
    <div class="content__input--container">
    <div class="content__submit--container">
      <button ng-show="selectedEvent.isSelected" ng-click="triggerEvent()" class="content__submit--left">Trigger</button>
    </div>
    </div>
      <div class="content__main--card">
        <div class="content__input--container">
          <p ng-hide="selectedEvent.isSelected" class="content__input--title">
            Select an event before triggering task assignment.
          </p>
          <p ng-show="selectedEvent.isSelected" class="content__input--title">
            Procedures affected by {{selectedEvent.title}}
          </p>
        </div>
      </div>
      <div class="content__main--card content__list--container">
        <div ng-show="selectedEvent.isSelected" class="content__input--title">
        <div class="content__input--container" ng-repeat="template in templates track by $index">
          <p class="content__main--body-text">{{template}}</p>
      </div>
    <alert-message></alert-message>
  </div>
</div>
