<div class="cron-input__container">
  <div class="cron-row">
    <div class="cron-col">
      <span>Repeat By: </span>
    </div>
    <div class="cron-col">
      <select ng-model="myFrequency.base" ng-options="item.value as item.label for item in frequency"></select>
    </div>
  </div>
  <div class="cron-row" ng-show="myFrequency.base == 5">
    <div class="cron-col">
      <span ng-show="myFrequency.base == 5">Month: </span>
    </div>
    <div class="cron-col">
      <select ng-show="myFrequency.base == 5" ng-model="myFrequency.monthValue" ng-options="(value | monthName) for value in monthValue"></select>
    </div>
  </div>
  <div class="cron-row" ng-show="myFrequency.base == 5 || myFrequency.base == 4">
    <div class="cron-col">
      <span ng-show="myFrequency.base == 5 || myFrequency.base == 4">Date: </span>
    </div>
    <div class="cron-col">
      <select ng-show="myFrequency.base == 5 || myFrequency.base == 4" ng-model="myFrequency.dayOfMonthValue" ng-options="(value | numeral) for value in dayOfMonthValue"></select>
    </div>
  </div>
  <div class="cron-row" ng-show="myFrequency.base == 6">
    <div class="cron-col">
      <span ng-show="myFrequency.base == 6">Day: </span>
    </div>
    <div class="cron-col">
      <select ng-show="myFrequency.base == 6" ng-model="myFrequency.dayOfWeekValue" ng-options="(value | dayName) for value in dayOfWeekValue"></select>
    </div>
  </div>
  <div class="cron-row" ng-show="myFrequency.base >= 3">
    <div class="cron-col">
      <span ng-show="myFrequency.base >= 3">Hour: </span>
    </div>
    <div class="cron-col">
      <select ng-show="myFrequency.base >= 3" ng-model="myFrequency.hourValue" ng-options="value for value in hourValue"></select>
    </div>
  </div>
  <div class="cron-row" ng-show="myFrequency.base >= 2">
    <div class="cron-col">
      <span ng-show="myFrequency.base >= 2">Minutes: </span>
    </div>
    <div class="cron-col">
      <select ng-show="myFrequency.base >= 2" class="cron-select minute-value" ng-model="myFrequency.minuteValue" ng-options="value for value in minuteValue"></select>
    </div>
  </div>
</div>


